.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; 
  }
  
  .navbar-buttons .btn-reservar {
    width: 190px;
    background-color: #69ab3e;
    border-color: #69ab3e;
    transition-duration: .7s;
    color: #f3efef;
    padding: 10px 35px 10px 35px;
  }
  
  .navbar-buttons .btn-reservar:hover{
    background-color:  #339a2f;
    color: white;
  }
  
  .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: #69ab3e;
  
  }
  
  .nav-link {
    position: relative;
    display: inline-block;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px; 
    background-color: #339a2f;
    transition: width 0.3s ease-in-out; 
  }
  
  .nav-link:hover::after {
    width: 100%; 
  }
  
  .navbar-nav .dropdown-toggle::after {
    display: inline-block; 
    margin-left: 5px;      
    vertical-align: middle;
  }

  .navbar a:active {
    background-color: #339a2f;
    color: white;
}

  
  /*footer*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 40px 20px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .footer-section {
    min-width: 160px;
  }
  
  .footer-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #69ab3e;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-item {
    color: #6c757d;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
  }
  
  .footer-item:hover {
    color: #69ab3e;
    transform: translateX(5px);
  }
  
  .footer-payment {
    text-align: center;
    margin-top: 20px;
  }
  
  .payment-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .footer-copy, .footer-location {
    font-size: 14px;
    color: #6c757d;
  }
  
  html {
    scroll-behavior: smooth;
  }